extends layout

block content
    h1= title
    p Welcome to #{title}

    h2 Create a new locale
    form(action="/locales/create", method="post")
        input(type="text", name="locale")
        input(type="text", name="fullName")
        input(type="submit")

    h2 Locales

    ul
    each locale in locales
        li
            = locale.locale
            | &nbsp;
            | (
            a(href="/locales/" + locale.id + "/destroy") Destroy
            | )
            ul
                li
                    | Create a new localization
                    form(action="/locales/" + locale.id + "/localizations/create", method="post", style="display: inline")
                        input(type="text", name="localizationId")
                        input(type="text", name="value")
                        input(type="submit")
                each localization in locale.Localizations
                    li
                        = localization.localizationId
                        | &nbsp;
                        | (
                        a(href="/locales/" + locale.id + "/localizations/" + localization.id + "/destroy") Destroy
                        | )
