extends layout

block content
    h1= title
    p Welcome to #{title}

    h2 Create a new locale
    form(action="/locales/create", method="post")
        input(type="text", name="id")
        input(type="text", name="fullName")
        input(type="submit")

    h2 Locales

    ul
    each locale in locales
        li
            = locale.locale
            = locale.fullName
            | &nbsp;
            | (
            a(href="/locales/" + locale.id + "/destroy") Destroy
            | )
